<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Hola</title>
        <meta charset="UTF-8">
         
    </head>
    <body>
     
        <h1>Datos de Personas</h1>
     
        <br> 
        <form th:action="@{/guardarPersona}"
              method="post"
              th:object="${personas}">
             <input type="hidden" name="idPersona" th:field="*{idPersona}"/>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" th:field="*{nombre}"/>
            <br>
             <label for="nombre">Apellido1:</label>
            <input type="text" name="apellido1" th:field="*{apellido1}"/>
            <br>  
             <label for="nombre">Apellido2:</label>
            <input type="text" name="apellido2" th:field="*{apellido2}"/>
            <br>  
             <label for="nombre">Correo:</label>
            <input type="email" name="correo" th:field="*{correo}"/>
            <br>
             <label for="nombre">Telefono:</label>
            <input type="tel" name="telefono" th:field="*{telefono}"/>
            <br>
            <button type="submit" name="guardar" value="Guardar">Submit</button>
        </form>
        
    </body>
</html>
